/* https://htmlcolorcodes.com/ */

body{
    background: #F1E0DD;
    margin-left: 100px;
    margin-right: 200px;
}

h1{color: royalblue;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 0.5px;
font-size: 100px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 0.5px;
font-size: 100px;
}

img{
    margin-bottom: 20px;
}